{% extends 'Guest/base.html' %}
{% block content %}
{% load static %}



        <!-- content begin -->
        <div class="no-bottom no-top" id="content">

            <div id="top"></div>

            <section class="bg-color section-dark text-light no-top no-bottom overflow-hidden">
                <div class="container-fluid position-relative half-fluid">
                  <div class="container">
                    <div class="row">
                      <!-- Image -->
                      <div class="col-lg-6 position-lg-absolute right-half h-100">
                        <div class="de-gradient-edge-top dark"></div>
                        <div class="image jarallax">
                            <img src="images/background/13.webp" class="jarallax-img" alt="">
                        </div>
                      </div>
                      <!-- Text -->
                      <div class="col-lg-6 relative">
                            <div class="me-lg-4">
                                <div class="spacer-double"></div>
                                <div class="spacer-double sm-hide"></div>
                                <div class="spacer-single sm-hide"></div>
                                <div class="spacer-single sm-hide"></div>
                                <div class="spacer-single sm-hide"></div>
                                <ul class="crumb">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="active">Schedule Service</li>
                                </ul>
                                <h1 class="mb-2 wow fadeInUp" data-wow-delay=".2s">Schedule Service</h1>
                                <p class="col-lg-10 lead mb-0 wow fadeInUp" data-wow-delay=".3s">Smart Waste Disposal for a Cleaner Future</p>
                                <div class="spacer-double"></div>
                                <div class="spacer-single sm-hide"></div>

                                <img src="images/misc/recycle-crop-2.webp" class="w-30 abs end-0 bottom-0 z-3" alt="">
                            </div>

                      </div>
                    </div>
                  </div>
                </div>
            </section>


            <section>
                <div class="container relative z-2">
                    <div class="row g-4 justify-content-between align-items-center">

                        <div class="col-lg-6">
                            <div class="subtitle">Turning Waste Into New Possibilities</div>
                            <h1>Smart Disposal For Cleaner World</h1>
                            <p class="col-lg-10 mb-4">Delivering smart waste solutions for homes, businesses & industries to keeping communities clean and protecting the environment every day.</p>
                        </div>

                        <div class="col-lg-6">
                            <div class="relative">
                                <div id="success_message_col" class='success p-40 h-100'>
                                    <h3>Thank You For Your Order</h3>
                                    <p>We have received your request and will be processing it shortly. Click button below if you want to make another order.</p>
                                    <a class="btn-main" href="booking.html">Re-order</a>
                                </div>

                                <form name="bookingForm" id="booking_form" class="form-underline position-relative z1000 bg-color-op-1 p-40" method="post" action="booking.php">
                                    
                                    <div class="row g-3">
                                        <div class="col-lg-12">
                                            <h3 class="mb-3"><i class="fa fa-envelope-o id-color me-2"></i> Get An Appointment</h3>
                                            <p>Tired of waste piling up? Let’s make cleanup easy! Schedule your waste service appointment today and keep your space clean and green.</p>
                                            <div class="relative">
                                                <select name="service" id="service" class="form-control">
                                                    <option disabled selected value>Select Service</option>
                                                    <option value="Residential Cleaning">Residential Cleaning</option>
                                                    <option value="Commercial Cleaning">Commercial Cleaning</option>
                                                    <option value="Deep Cleaning">Deep Cleaning</option>
                                                    <option value="Move-In/Move-Out Cleaning">Move-In/Move-Out Cleaning</option>
                                                    <option value="Post-Construction Cleaning">Post-Construction Cleaning</option>
                                                    <option value="Carpet and Upholstery Cleaning">Carpet and Upholstery Cleaning</option>
                                                </select>
                                                <i class="absolute top-0 end-0 id-color pt-3 pe-3 icofont-simple-down"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div id="date" class="relative input-group date" data-date-format="mm-dd-yyyy">
                                                <i class="absolute top-0 end-0 id-color pt-3 pe-3 icofont-calendar"></i>
                                                <input class="form-control" value="Select Date" name="date" type="text" >
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="relative">
                                                <select name="time" id="time" class="form-control">
                                                    <option disabled selected value>Select Time</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="12:00">12:00</option>
                                                    <option value="13:00">13:00</option>
                                                    <option value="14:00">14:00</option>
                                                    <option value="15:00">15:00</option>
                                                    <option value="16:00">16:00</option>
                                                    <option value="17:00">17:00</option>
                                                    <option value="18:00">18:00</option>
                                                    <option value="19:00">19:00</option>
                                                    <option value="20:00">20:00</option>
                                                </select>
                                                <i class="absolute top-0 end-0 id-color pt-3 pe-3 icofont-simple-down"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <input type="text" name="name" id="name" placeholder="Name" class="form-control" placeholder="" required>
                                        </div>

                                        <div class="col-lg-4">
                                            <input type="text" name="email" id="email" placeholder="Email" class="form-control" placeholder="" required>
                                        </div>

                                        <div class="col-lg-4">
                                            <input type="text" name="phone" id="phone" placeholder="Phone" class="form-control" placeholder="" required>
                                        </div>

                                        <div class="col-lg-12">
                                            <textarea name="message" id="message" class="form-control" placeholder="Message"></textarea>
                                        </div>

                                        <div class="col-lg-12">
                                            <div id='submit'>
                                                <input type='submit' id='send_message' value='Send Appointment' class="btn-main">
                                            </div>
                                        </div>
                                    </div>

                                    <div id="error_message" class='error'>
                                        Sorry there was an error sending your form.
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content end -->
   {% endblock %}